name: get_images_from_payload.bin

on:
  workflow_dispatch:
      inputs:
        UPLOAD_CONFIG:
          description: 'Upload Artifacts to Actions'
          required: true
          default: "false"
          type: boolean
        ROM_URL:
          description: 'ROM directly link'
          required: true
          default: "https://mirrorbits.lineageos.org/full/tissot/20230328/lineage-19.1-20230328-nightly-tissot-signed.zip"
          type: string
        PARTITIONS:
          description: 'Partitions which you need to extract(Such as boot,vendor_dlkm,...,vendor_boot)'
          required: true
          default: "boot,vbmeta"
          type: string
        
    
env:
  TZ: Asia/Shanghai
  Payload_Dumper_Go_Url: https://github.com/ssut/payload-dumper-go/releases/download/1.2.2/payload-dumper-go_1.2.2_linux_amd64.tar.gz

jobs:
  make:
    runs-on: ubuntu-latest

    steps:

    - name: Clean Up Disk Space
      run: |
        docker rmi `docker images -q`
        sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
        sudo -E apt-get -y purge azure-cli ghc* zulu* llvm* firefox google* dotnet* powershell openjdk* mysql* php*
        sudo -E apt-get -y autoremove --purge
        sudo -E apt-get clean 
        
    - name: Clone the tools source code
      run: |
       cd ~
       mkdir -p ~/payload_dumper_go
       wget -O payload_dumper_go.tar.gz $Payload_Dumper_Go_Url
       tar -C ~/payload_dumper_go/ -zxvf payload_dumper_go.tar.gz
       
  
    - name: Download the ROM
      run: |
       cd ~
       wget -O rom.zip ${{ github.event.inputs.ROM_URL }}
   
    - name: unzip the ROM
      run: |
       cd ~
       unzip rom.zip -d payload_dumper_go
    
    - name: extract the payload.binï¼Œpatch the boot.img
      run: |
       cd ~
       cd payload_dumper_go
       chmod +x payload-dumper-go
       ./payload-dumper-go -o ~/payload_dumper_go -p ${{ github.event.inputs.PARTITIONS }} payload.bin
       git clone https://github.com/entr0pia/magisk_patch.git Magisk
       mv boot.img Magisk/
       mv vbmeta.img Magisk/
       cd Magisk
       ./boot_patch.sh boot.img
   
    - name: Upload Artifact
      if: github.event.inputs.UPLOAD_CONFIG == 'true'
      uses: actions/upload-artifact@v3
      with:
        name: Image-files
        path: |
          ~/payload_dumper_go/Magisk/*.img
          
    - name: Upload images to WeTransfer
      if: github.event.inputs.UPLOAD_CONFIG == 'false'
      run: |
        cd ~
        curl -sL https://git.io/file-transfer | sh
        ./transfer wet ~/payload_dumper_go/Magisk/*.img
